@charset "utf-8";
/* CSS Document */


/*Desktop View*/
h1 {
	color: #A117B4;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 150;
	font-weight: 600;
}



/*Tablet View*/

@media (max-width: 768px) {
	
	h1 {
		color: #1DAB7D;
		
	}
}




/*Mobile View*/

@media (max-width: 400px) {
	
	h1 {
		color: #DB7006;
		
	}
	
}



/*Style of List*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	
}

li {
	display: inline;
	float: left;

}


li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
}

li a:hover {
	background-color: #111;
}


